USE [master]
GO
/****** Object:  Database [UPBruhanova]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
CREATE DATABASE [UPBruhanova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPBruhanova', FILENAME = N'C:\Database\UPBruhanova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPBruhanova_log', FILENAME = N'C:\Database\UPBruhanova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPBruhanova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPBruhanova]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DealShare] [int] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartment]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartment](
	[Id] [int] NOT NULL,
	[idCity] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [int] NULL,
	[Coordinate_longitude] [int] NULL,
	[TotalArea] [nvarchar](50) NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_apartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartment_demands]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartment_demands](
	[Id] [int] NOT NULL,
	[idCyty] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [int] NULL,
	[MaxArea] [nvarchar](10) NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_apartment_demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[idCity] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[idCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[idDistricts] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[area] [text] NOT NULL,
 CONSTRAINT [PK_districts] PRIMARY KEY CLUSTERED 
(
	[idDistricts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[house_demands]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[house_demands](
	[Id] [int] NOT NULL,
	[idCity] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinFloors] [int] NULL,
	[MaxFloors] [int] NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_house_demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[houses](
	[Id] [int] NOT NULL,
	[idCity] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [int] NULL,
	[Coordinate_longitude] [int] NULL,
	[TotalFloors] [int] NULL,
	[TotalArea] [nvarchar](20) NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land_demands]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land_demands](
	[Id] [int] NOT NULL,
	[idCity] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [nvarchar](20) NULL,
	[MaxArea] [nvarchar](20) NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_land_demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lands]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lands](
	[Id] [int] NOT NULL,
	[idCity] [int] NULL,
	[idDistricts] [int] NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [int] NULL,
	[Coordinate_longitude] [int] NULL,
	[TotalArea] [int] NULL,
	[idType] [int] NULL,
 CONSTRAINT [PK_lands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offset]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offset](
	[idOffers] [int] NOT NULL,
	[idClient] [int] NOT NULL,
	[idAgents] [int] NOT NULL,
	[idTypeObject] [int] NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Offset] PRIMARY KEY CLUSTERED 
(
	[idOffers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeObject]    Script Date: 23.03.2024 13:28:25 Ахметова ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeObject](
	[idTypeObject] [int] NOT NULL,
	[NameType] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeObject] PRIMARY KEY CLUSTERED 
(
	[idTypeObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[apartment] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [idType]) VALUES (1, 1, 626, N'25', N'12', 0, 0, N'41', 1, 3, 3)
INSERT [dbo].[apartment] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [idType]) VALUES (2, 1, 154, N'8', N'44', 0, 0, N'105', 3, 5, 3)
INSERT [dbo].[apartment] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [idType]) VALUES (3, 1, 346, N'139', N'6', 0, 0, N'62', 3, 2, 3)
GO
INSERT [dbo].[apartment_demands] ([Id], [idCyty], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [idType]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[apartment_demands] ([Id], [idCyty], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [idType]) VALUES (6, 1, NULL, NULL, NULL, NULL, 3100000.0000, 7, 5, 20, NULL, NULL, NULL, 4, NULL, 3)
INSERT [dbo].[apartment_demands] ([Id], [idCyty], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [idType]) VALUES (7, 1, 616, NULL, NULL, NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL, 3)
GO
INSERT [dbo].[City] ([idCity], [CityName]) VALUES (1, N'Тюмень')
GO
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', NULL, NULL)
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[districts] ([idDistricts], [name], [area]) VALUES (1, N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))')
INSERT [dbo].[districts] ([idDistricts], [name], [area]) VALUES (2, N'1 мкр', N'((57.1137744906982,65.5993050213258),(57.1136256459085,65.5995839710633),(57.1128230411438,65.5979317303102),(57.1129222732158,65.589606153528),(57.1125778783827,65.5888765926759),(57.1097408765818,65.585100042383),(57.1061213395916,65.5949061985415),(57.1123327140119,65.6033176060122),(57.1146728482688,65.6064300077323),(57.1161734355873,65.6023305530946),(57.1137744906982,65.5993050213258))')
GO
INSERT [dbo].[house_demands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [idType]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[house_demands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [idType]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[houses] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea], [idType]) VALUES (9, 1, 3, N'25', NULL, 0, 0, 2, N'84.4', 1)
INSERT [dbo].[houses] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea], [idType]) VALUES (10, 1, 641, NULL, NULL, 0, 0, 3, N'130', 1)
INSERT [dbo].[houses] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalFloors], [TotalArea], [idType]) VALUES (11, 1, 52, NULL, NULL, 0, 0, 1, N'120', 1)
GO
INSERT [dbo].[land_demands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [idType]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, 15, 12, NULL, NULL, 2)
INSERT [dbo].[land_demands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [idType]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, 1, 14, NULL, NULL, 2)
GO
INSERT [dbo].[lands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [idType]) VALUES (12, 1, 292, NULL, NULL, 0, 0, 20, 2)
INSERT [dbo].[lands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [idType]) VALUES (13, 1, 25, NULL, NULL, 0, 0, 45, 2)
INSERT [dbo].[lands] ([Id], [idCity], [idDistricts], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [idType]) VALUES (14, 1, 531, NULL, NULL, 0, 0, 12, 2)
GO
INSERT [dbo].[Offset] ([idOffers], [idClient], [idAgents], [idTypeObject], [Price]) VALUES (0, 6, 9, 2, 6765765.0000)
GO
INSERT [dbo].[TypeObject] ([idTypeObject], [NameType]) VALUES (1, N'Дом')
INSERT [dbo].[TypeObject] ([idTypeObject], [NameType]) VALUES (2, N'Земля')
INSERT [dbo].[TypeObject] ([idTypeObject], [NameType]) VALUES (3, N'Участок')
GO
ALTER TABLE [dbo].[apartment]  WITH CHECK ADD  CONSTRAINT [FK_apartment_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[apartment] CHECK CONSTRAINT [FK_apartment_City]
GO
ALTER TABLE [dbo].[apartment]  WITH CHECK ADD  CONSTRAINT [FK_apartment_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[apartment] CHECK CONSTRAINT [FK_apartment_districts]
GO
ALTER TABLE [dbo].[apartment]  WITH CHECK ADD  CONSTRAINT [FK_apartment_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[apartment] CHECK CONSTRAINT [FK_apartment_TypeObject]
GO
ALTER TABLE [dbo].[apartment_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment_demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[apartment_demands] CHECK CONSTRAINT [FK_apartment_demands_agents]
GO
ALTER TABLE [dbo].[apartment_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment_demands_City] FOREIGN KEY([idCyty])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[apartment_demands] CHECK CONSTRAINT [FK_apartment_demands_City]
GO
ALTER TABLE [dbo].[apartment_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment_demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[apartment_demands] CHECK CONSTRAINT [FK_apartment_demands_clients]
GO
ALTER TABLE [dbo].[apartment_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment_demands_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[apartment_demands] CHECK CONSTRAINT [FK_apartment_demands_districts]
GO
ALTER TABLE [dbo].[apartment_demands]  WITH CHECK ADD  CONSTRAINT [FK_apartment_demands_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[apartment_demands] CHECK CONSTRAINT [FK_apartment_demands_TypeObject]
GO
ALTER TABLE [dbo].[house_demands]  WITH CHECK ADD  CONSTRAINT [FK_house_demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[house_demands] CHECK CONSTRAINT [FK_house_demands_agents]
GO
ALTER TABLE [dbo].[house_demands]  WITH CHECK ADD  CONSTRAINT [FK_house_demands_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[house_demands] CHECK CONSTRAINT [FK_house_demands_City]
GO
ALTER TABLE [dbo].[house_demands]  WITH CHECK ADD  CONSTRAINT [FK_house_demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[house_demands] CHECK CONSTRAINT [FK_house_demands_clients]
GO
ALTER TABLE [dbo].[house_demands]  WITH CHECK ADD  CONSTRAINT [FK_house_demands_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[house_demands] CHECK CONSTRAINT [FK_house_demands_districts]
GO
ALTER TABLE [dbo].[house_demands]  WITH CHECK ADD  CONSTRAINT [FK_house_demands_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[house_demands] CHECK CONSTRAINT [FK_house_demands_TypeObject]
GO
ALTER TABLE [dbo].[houses]  WITH CHECK ADD  CONSTRAINT [FK_houses_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[houses] CHECK CONSTRAINT [FK_houses_City]
GO
ALTER TABLE [dbo].[houses]  WITH CHECK ADD  CONSTRAINT [FK_houses_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[houses] CHECK CONSTRAINT [FK_houses_districts]
GO
ALTER TABLE [dbo].[houses]  WITH CHECK ADD  CONSTRAINT [FK_houses_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[houses] CHECK CONSTRAINT [FK_houses_TypeObject]
GO
ALTER TABLE [dbo].[land_demands]  WITH CHECK ADD  CONSTRAINT [FK_land_demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[land_demands] CHECK CONSTRAINT [FK_land_demands_agents]
GO
ALTER TABLE [dbo].[land_demands]  WITH CHECK ADD  CONSTRAINT [FK_land_demands_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[land_demands] CHECK CONSTRAINT [FK_land_demands_City]
GO
ALTER TABLE [dbo].[land_demands]  WITH CHECK ADD  CONSTRAINT [FK_land_demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[land_demands] CHECK CONSTRAINT [FK_land_demands_clients]
GO
ALTER TABLE [dbo].[land_demands]  WITH CHECK ADD  CONSTRAINT [FK_land_demands_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[land_demands] CHECK CONSTRAINT [FK_land_demands_districts]
GO
ALTER TABLE [dbo].[land_demands]  WITH CHECK ADD  CONSTRAINT [FK_land_demands_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[land_demands] CHECK CONSTRAINT [FK_land_demands_TypeObject]
GO
ALTER TABLE [dbo].[lands]  WITH CHECK ADD  CONSTRAINT [FK_lands_City] FOREIGN KEY([idCity])
REFERENCES [dbo].[City] ([idCity])
GO
ALTER TABLE [dbo].[lands] CHECK CONSTRAINT [FK_lands_City]
GO
ALTER TABLE [dbo].[lands]  WITH CHECK ADD  CONSTRAINT [FK_lands_districts] FOREIGN KEY([idDistricts])
REFERENCES [dbo].[districts] ([idDistricts])
GO
ALTER TABLE [dbo].[lands] CHECK CONSTRAINT [FK_lands_districts]
GO
ALTER TABLE [dbo].[lands]  WITH CHECK ADD  CONSTRAINT [FK_lands_TypeObject] FOREIGN KEY([idType])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[lands] CHECK CONSTRAINT [FK_lands_TypeObject]
GO
ALTER TABLE [dbo].[Offset]  WITH CHECK ADD  CONSTRAINT [FK_Offset_agents] FOREIGN KEY([idAgents])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[Offset] CHECK CONSTRAINT [FK_Offset_agents]
GO
ALTER TABLE [dbo].[Offset]  WITH CHECK ADD  CONSTRAINT [FK_Offset_clients] FOREIGN KEY([idClient])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[Offset] CHECK CONSTRAINT [FK_Offset_clients]
GO
ALTER TABLE [dbo].[Offset]  WITH CHECK ADD  CONSTRAINT [FK_Offset_TypeObject] FOREIGN KEY([idTypeObject])
REFERENCES [dbo].[TypeObject] ([idTypeObject])
GO
ALTER TABLE [dbo].[Offset] CHECK CONSTRAINT [FK_Offset_TypeObject]
GO
USE [master]
GO
